* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 5px 35px;
    border: 0px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;


}

/* header of navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

/* banner styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;

}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;

}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 11px;
}

.header {
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

main {
    max-width: 1130px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    margin-top: 130px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    color: #0c6970;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.about-description {
    font-weight: 800;
    font-size: 40px;
    color: #474747;
}

/* what i do styles */
.What-I-DO {
    margin-top: 130px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.skills-container {
    display: flex;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-desciption {
    color: #757575;
}

/* Resume styles */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-top: 10px;

}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* resume-styles */
.resume-content {
    display: flex;
    gap: 24px;
    font-weight: 900;
    font-size: 40px;
}

.resume-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin-top: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;

}

.resume .description {
    font-weight: 400;
    font-size: 25px;
    color: #757575;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}
/* connect styles */
.contact{
    display:flex;
    background: #FFF8F3;
    gap:100px;
    padding: 130px 200px;
}
.connect .section-title{
    text-align: left;
}
.contact input[type="text"],input[type=email], textarea{
    margin-bottom:24px;
    border:0px;
    width: 100%;
    padding: 18px 30px;    
}
.input{
   height:64px;
}
.contact a{
    text-decoration: none;
}